<div class="container mt-5">
  <h2 class="text-center" style="color: darkgreen;">Quem somos 🌿</h2>
  <br><br>
  <p class="text-center" style="font-size: 15pt;">A Quitanda Yara oferece produtos selecionados, fresquinhos e orgânicos!</p>
  <br><br>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://media.discordapp.net/attachments/814843784529313795/916122224791019550/local.png" class="card-img-top img-fluid" alt="imagem de produtores locais">
        <div class="card-body">
          <h5 class="card-title">Produtos de produtores locais</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://media.discordapp.net/attachments/814843784529313795/916122224233152512/livre_e_saudavel.png?width=669&height=473" class="card-img-top img-fluid" alt="imagem livre de agrotóxicos">
        <div class="card-body">
          <h5 class="card-title">Livre de agrotóxicos</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://media.discordapp.net/attachments/814843784529313795/916122225541795860/carinho.png?width=669&height=473" class="card-img-top img-fluid" alt="imagem produzidos com carinho">
        <div class="card-body">
          <h5 class="card-title">Produzidos com muito carinho </h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://media.discordapp.net/attachments/814843784529313795/916122226233864252/economia.png?width=669&height=473" class="card-img-top img-fluid" alt="Imagem de fortalecer a região">
        <div class="card-body">
          <h5 class="card-title">Compre com a gente e fortaleça a economia da região!</h5>
        </div>
      </div>
    </div>
  </div>
  <hr>
<br>
  <div class="d-flex justify-content-center"><a routerLink="/produtos"><img class="img-fluid"
    src="https://media.discordapp.net/attachments/814843784529313795/915985442430664704/imgs.png" width="500px"
    height="403px" alt=""></a>
</div>
<br><br>