<div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media.discordapp.net/attachments/814843784529313795/918154909453549618/4.png" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.discordapp.net/attachments/814843784529313795/918154937601503242/carousel2.png?width=1020&height=304" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.discordapp.net/attachments/814843784529313795/918154909885546497/carousel3.png?width=1020&height=304" class="d-block w-100 img-fluid" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>
</div>

<div class="container">
  <p class="mt-5 text-center" style="font-size: 15pt;">A Quitanda Yara é seu comércio de alimentos saudáveis e orgânicos. Hortifruti de altíssima qualidade, com produtos cuidadosamente selecionados, para que você possa levar para casa mais saúde e sabor com preço justo.</p>
  <div class="row d-flex justify-content-md-center">
    <div class="col-md-6">
      <h3 class="text-center mt-5 mb-5" style="color: darkgreen;">Aqui você encontra 🌿 </h3>
    </div>
    <div class="col-md-12">
      <div class="card-group">
        <div class="card me-3 mb-3">
          <img src="https://media.discordapp.net/attachments/814843784529313795/915937835478048838/4.png" class="card-img-top" alt="foto-img">
          <div class="card-body">
            <h5 class="card-title tex-center">Frutas</h5>
            <p>Frutas fresquinhas com diversas opções</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
        <div class="card me-3 mb-3">
          <img src="https://media.discordapp.net/attachments/814843784529313795/915937970681417728/14.png" class="card-img-top" alt="foto legumes">
          <div class="card-body">
            <h5 class="card-title">Legumes</h5>
            <p class="card-text">Legumes sem agrotóxicos</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
        <div class="card mb-3">
          <img src="https://media.discordapp.net/attachments/814843784529313795/916117650650841129/prod-legumes.png" class="card-img-top" alt="foto verduras">
          <div class="card-body">
            <h5 class="card-title">Verduras</h5>
            <p class="card-text">Verduras produzidas com carinho direto para sua casa</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
        <br><br> 
      </div>
    </div>   
  </div>
</div>